body {
	background-color: black;
	color: white;
	font-family: 'Lucida Console', 'Courier New', monospace;
}

div.container {
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.container h1 {
	margin: 0;
}
div.container p {
	margin: 0;
}
div.container h2 {
	margin: 0;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h4 {
	font-size: large;
}

a:link {
	font-size: xx-large;
	color: #ffc2cc;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #ffc2cc;
	background-color: transparent;
	text-decoration: none;
}
